# Flask Configuration
SECRET_KEY="xxxxxxx"
FLASK_ENV="development"  # development | production

# Database (no implementada aún, SQLite por defecto)
DATABASE_URL="sqlite:///site.db"

# Hugging Face Integration
HF_TOKEN="xxxxxxx"  # Token de Hugging Face (opcional para datasets públicos)
HF_CACHE_DIR="./hf_cache"

# Google OAuth2 Configuration
GOOGLE_CLIENT_ID="xxxxxx"
GOOGLE_CLIENT_SECRET="xxxxxx"
FRONTEND_URL="http://xxxxx:xxxxx"
BACKEND_URL="http://xxxxxx:xxxxx"